/*
 * Copyright 2014 REI Systems, Inc.
 * 
 * This file is part of GovDashboard.
 * 
 * GovDashboard is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * GovDashboard is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with GovDashboard.  If not, see <http://www.gnu.org/licenses/>.
 */

#gd-logo {
    margin-top: 0;
}

#gd-nav {
    z-index: 999999;
    margin-bottom: 0;
}

#gd-nav .navbar-fixed-top {
    top: 65px;
}

#gd-navmain {
    clear: both;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*#gd-navmain ul.menulist {*/
    /*padding: 0;*/
    /*margin: 0 0 10px 0;*/
    /*display: block;*/
    /*overflow: hidden;*/
/*}*/

/*#gd-navmain ul.menulist li {*/
    /*display: block;*/
    /*float: left;*/
    /*list-style-type: none;*/
    /*overflow: hidden;*/
    /*padding: 0 10px;*/
    /*margin: 0;*/
    /*width: auto;*/
/*}*/

#gd-header h1 {
    background: none;
    margin: 0;
    border: none;
    text-indent: 0;
}

#gd-body {
    margin-bottom: 40px;
}

#gd-footer {
    z-index: 999999;
    margin-bottom: 0;
    border-top: 1px solid #d4d4d4;
    padding: 20px 0;
    background: #EEECED;
}

.gd-section h1 {
    font-size: 32px;
    font-weight: 300;
    margin: 15px 0 15px 0;
    background: none;
    border: none;
    text-indent: 0;
}
.gd-section h1 small {
    font-size: 18px;
}
/* needed for Act Mgt. iframe */
#gd-admin-container {
    min-height: 840px;
    padding: 0;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}